<div class="wrapper">
    <header class="main-header">
        <a href="" class="logo">
            <span class="logo-mini"><b>T</b>PC</span>
            <span class="logo-lg"><b>Tuan</b>PC</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <li class="dropdown user user-menu">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../../../UploadedFiles/files/icon.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{authentication.userName}}</span>
                        </a>
                        <ul class="dropdown-menu">
                          
                            <li class="user-header">
                                <img src="../../../UploadedFiles/files/icon.jpg" class="img-circle" alt="User Image">
                                <p>
                                    {{authentication.userName}}
                                </p>
                            </li>
                            
                            <li class="user-footer">
                                
                                <div class="pull-right">
                                    <a href="#" ng-click="logOut()" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../../../UploadedFiles/files/icon.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{authentication.userName}}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            <ul class="sidebar-menu">
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa fa-cubes"></i>
                        <span>Sản phẩm</span>
                        <span class="label label-primary pull-right"></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="product_categories"><i class="fa fa-circle-o"></i> Danh mục sản phẩm</a></li>
                        <li><a ui-sref="products"><i class="fa fa-circle-o"></i> Sản phẩm</a></li>
                        <li><a ui-sref="suppliers"><i class="fa fa-circle-o"></i>Nhà cung cấp</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa fa-users"></i>
                        <span>Hệ thống</span>
                        <span class="label label-primary pull-right"></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="application_groups"><i class="fa fa-circle-o"></i> Nhóm người dùng</a></li>
                        <li><a ui-sref="application_roles"><i class="fa fa-circle-o"></i> Quyền</a></li>
                        <li><a ui-sref="application_users"><i class="fa fa-circle-o"></i> Người dùng</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa fa-area-chart"></i>
                        <span>Thống kê</span>
                        <span class="label label-primary pull-right"></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="statistic_revenue"><i class="fa fa-circle-o"></i> Thống kê doanh số</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa fa-money "></i>
                        <span>Hóa đơn</span>
                        <span class="label label-primary pull-right"></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="orders"><i class="fa fa-circle-o"></i> Quản lý hóa đơn</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa fa-money "></i>
                        <span>Khuyến mãi</span>
                        <span class="label label-primary pull-right"></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="promotions"><i class="fa fa-circle-o"></i> Quản lý khuyến mãi</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <div ui-view></div>
    </div>
    
  </div>