@{
    ViewBag.Title = "Change password confirmation";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 pt-5">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="~/UploadedFiles/files/icon.jpg" alt="TuanPC">
            </div>

            <form class="login100-form validate-form">
                <h2 class="login100-form">
                    Change password confirmation
                </h2>
                <span class="login100-form">
                    Mật khẩu vừa được làm mới.@Html.ActionLink("Bấm để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </span>

            </form>

        </div>

    </div>
</div>