@{
    ViewBag.Title = "Forgot Password Error";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 pt-5">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="~/UploadedFiles/files/icon.jpg" alt="TuanPC">
            </div>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Get))
            {
                <form class="login100-form validate-form">
                    <h2 class="login90-form-title">
                        Quên mật khẩu thất bại
                    </h2>
                    <span class="login100-form">
                        Emall sai. Nhập lại
                    </span>
                    <div class="container-login100-form-btn">
                        <input type="submit" value="Nhập lại?" class="login100-form-btn">
                    </div>
                    <div class="text-center p-t-136">
                        <a class="txt2" href="/dang-nhap.html">
                            Quay về đăng nhập
                            <i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            }
            </div>

    </div>
</div>