<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a href="~/trang/gioi-thieu.html"><h6>Về tôi</h6></a>
                    <p> Lê Thanh Tuấn DH52006707</p>
                    <p>Luận văn tốt nghiệp</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a href="~/lien-he.html"><h6>Để lại liên hệ</h6></a>
                    <p>Điền thông tin liên hệ</p>
                    <div class="" id="mc_embed_signup">
                            <a class="fcc-btn click-btn" href="~/lien-he.html">
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Theo dõi tôi</h6>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-telegram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="contact_info"">
                <div class="info_item">
                    <i class="lnr lnr-home"></i>
                    <h6 style="color: white;">Ho Chi Minh City, VietNam</h6>
                    <p>160 Cao Lỗ , phường 4, Quận 8, </p>
                </div>
                <div class="info_item">
                    <i class="lnr lnr-phone-handset"></i>
                    <h6 style="color: white;">0366494098</h6>
                    <p>Từ thứ 2 đến thứ 6 , 8h30 am đến 5h30 pm</p>
                </div>
                <div class="info_item">
                    <i class="lnr lnr-envelope"></i>
                    <h6 style="color: white;">lethanhtuan900@gmail.com</h6>
                    <p>Gửi tôi yêu cầu</p>
                </div>
            </div>
        </div>
        </div>
       
    </div>
</footer>